[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
requests = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pillow = "*"
recommonmark = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pytest = "*"

pyqt5 = "*"
imageio = "*"
pandas = "*"
opencv-python = "*"
scikit-image = "*"
utils = "*"
scikit-learn = "*"

